<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>This is my about page</h1>
    <nav>
        <ul class="d-flex">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/photo-gallery">Photo Gallery</a></li>
        </ul>
      </nav>
      <section>
          <p>My name is Genaro. I'm 24 years old and from Perú.
            <br>Now living in Madrid and BCN and studying in Ironhack school.
          </p>
      </section>
  </body>
</html>
