<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>This is my works page</h1>
    <nav>
        <ul class="d-flex">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/photo-gallery">Photo Gallery</a></li>
        </ul>
      </nav>
      <section>
        <p>My works is do a website in Wordpress and another services includes digital marketing<br>
        <b>SEO of website:</b> searching the most importants keywords of the company sectors<br>
        <b>Graphic Design:</b> Includes design in social media, logotypes, brading, etc</p>
    </section>
  </body>
</html>
